# 개인 workspace 설정 (창 위치, 열린 파일 등)
**/.obsidian/workspace*
**/.obsidian/workspace.json

# 캐시 및 임시 파일
**/.obsidian/cache/
**/.obsidian/*.tmp

# macOS
.DS_Store

# Windows
Thumbs.db
desktop.ini

# Trash
**/.trash/

3DCG_Channel/
Private/Censored/